::placeholder{
    color: var(--text);
}

        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input[type="text"], textarea, input[type="file"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            background-color: var(--greyishblue);
        }

        input[type="number"] {
            background-color: var(--greyishblue);
            color: var(--text);
        }
        button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #333;
            background-color: #f5eaf7;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        