<!--hasan-->
<!--to add the header into a file, just put: <div id="header"></div> in the file-->
<header class="header_class grad-color">
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <a href="../petra/landing.html">Fitness Store</a>
      </div>
      <div class="menu-icon" id="menu-icon">&#9776;</div>
      <ul class="nav-links" id="nav-links">
        <li class="nav-links-li"><a href="..//petra/landing.html">Home</a></li>  <!--we can change this when we have a home page or smth-->
        <li class="nav-links-li"><a href="../petra/shop.html">Shop</a></li>
        <li class="nav-links-li"><a href="../tia/aboutus.html">About Us</a></li>
        <li class="nav-links-li"><a href="cart.html">My Cart</a></li>
        <li class="nav-links-li"><a href="profile.html">Profile</a></li>
        <li class="nav-links-li"><a href="../hasan/login.html">Login</a></li>
        <li class="nav-links-li"><a href="../hasan/equipment-guide.html">Guide</a></li>
        <li class="nav-links-li"><a href="../tia/posting.html">Post</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  //toggles the menu on mobile screens (not working yet, working on it)
  document.getElementById("menu-icon").onclick = function () {
    document.getElementById("nav-links").classList.toggle("active");
  };
</script>