<!--to add the header into a file, just put: <div id="header"></div> in the file-->   <!--hasan-->
<header class="header_class">
    <div class="container">
      <nav>
        <ul>
          <li><a href="../petra/landing.html">Home</a></li>
          <li><a href="../petra/shop.html">Shop</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="cart.html">My Cart</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="../hasan/login.html">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>